﻿@{ 
    var numeroResultados = ViewBag.NumeroResultadosBusqueda;
}

<div class="s007">
    <form>
        <div class="inner-form">
            <div class="basic-search">
                <div class="input-field">
                    <div class="icon-wrap">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                            <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                        </svg>
                    </div>
                    <input id="tituloyTexto_filtro" name="tituloyTexto_filtro" type="text" placeholder=@(Etiquetas.Buscar + " ...") />
                    <div class="result-count">
                        <span>@numeroResultados </span>@Etiquetas.Resultados
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#busquedaAvanzada">@Etiquetas.BusquedaAvanzada</button>
                            <button type="button" class="btn btn-delete" onclick="window.location.href='/Nota/Index'">@Etiquetas.Limpiar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="busquedaAvanzada" class="advance-search collapse">
                <div class="row">
                    <div>
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path>
                            </svg>
                        </div>
                        <div class="input-daterange input-group">
                            <label>@String.Format(Etiquetas.FechaDeX, Etiquetas.Creacion) @Etiquetas.Desde</label>
                            @Html.TextBox("fecha_desde_filtro", null, new { @class = "input-sm form-control date", data_dateformat = "short" })
                        </div>
                    </div>
                    <div>
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                            </svg>
                        </div>
                        <div class="input-daterange input-group">
                            <label>@Etiquetas.Hasta</label>
                            @Html.TextBox("fecha_hasta_filtro", null, new { @class = "input-sm form-control date", data_dateformat = "short" })
                        </div>
                    </div>
                    <div class="input-checkbox-group">
                        <div class="input-checkbox">
                            <input id="anclada_filtro" type="checkbox" name="anclada_filtro" />
                            <label>@Etiquetas.SoloAnclada</label>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <button id="buscar_filtro_btn" class="btn-search">@Etiquetas.Buscar</button>
                        <button type="button" class="btn-delete" onclick="window.location.href='/Nota/Index'">@Etiquetas.Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

