﻿<div class="row hidden">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
                <div class="table-responsive">
                    <table id="ListadoNotas" class="dataTable" width="100%">
                        <thead>
                            <tr>
                                <th class="hidden">NotaId</th>
                                <th>@Etiquetas.Titulo</th>
                                <th>@Etiquetas.Texto</th>
                                <th>@String.Format(Etiquetas.FechaDeX, Etiquetas.Creacion)</th>
                                @*<th class="text-right" style="width:250px;">@Etiquetas.Acciones</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
        </div>
    </div>
</div>