﻿@model Business.Dto.NotaDto

@{ 
    var fechaCreacion = Convert.ToDateTime(Model.FechaCreacion);
}


<div class="modal fade" id="modalNota" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloModalNota">@String.Format(Etiquetas.NuevaX, Etiquetas.Nota)</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="false">×</span><span class="sr-only">@Etiquetas.Cerrar</span></button>
            </div>
            <div class="modal-body">
                <form role="form" id="formModalNota">
                    @Html.HiddenFor(n => n.NotaId)
                    @Html.HiddenFor(n => n.Activo)
                    @Html.Hidden("FechaCreacion", fechaCreacion)
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">@Etiquetas.Titulo</label>
                                @Html.TextBoxFor(n => n.Titulo, new { id = "titulo_nueva_nota", @class = "form-control", @maxlength = 75, Style = "background:#F7F779;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">@Etiquetas.Texto</label>
                                <input id="texto_nueva_nota" name="__Texto" type="hidden">
                                <div id="editorTextoEnriquecido" Style="background:#F7F779; height: 180px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">@Etiquetas.Anclado</label>
                                <input id="anclada_nueva_nota" type="checkbox" class="checkbox" name="Anclada" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">@Etiquetas.Color</label>
                                <input id="color_nueva_modal" name="Color" class="jscolor" value="F7F779">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button id="botonSubmitNota" type="button" class="btn btn-primary ladda-button pull-right">
                                    @Etiquetas.Crear
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>