﻿@model Business.Dto.NotaDto
@{
    string jsOnClickEliminar = "Notas.Nota.ReciclarNota(" + Model.NotaId + ", '" + Model.Titulo + "');";
    string jsOnClickEditar = "Notas.Nota.EditarNota(" + Html.Raw(Json.Encode(Model)) + ");";
}

<div id="nota_@Model.NotaId" class="card text-black mb-3" style="background-color:#@Model.Color; min-width: 28rem; max-width:35rem">
    <div id="headerIndividualNota_@Model.NotaId" class="card-header">
        <ul id="menuIndividualNota_@Model.NotaId" class="nav nav-pills card-header-pills hidden">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="@jsOnClickEditar">@Etiquetas.Editar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="@jsOnClickEliminar">@Etiquetas.Eliminar</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title font-weight-bold">@Model.Titulo</h5>
        <p id="textoEnriquecido" class="card-text">@Html.Raw(@Model.Texto)</p>
    </div>
</div>



