﻿@model List<Business.Dto.NotaDto>
@{
    List<Business.Dto.NotaDto> listaNotasAncladas = new List<Business.Dto.NotaDto>();
    List<Business.Dto.NotaDto> listaNotasNoAncladas = new List<Business.Dto.NotaDto>();

    List<Business.Dto.NotaDto> listaNotasActivas = (List<Business.Dto.NotaDto>)ViewData["listaNotasActivas"];

    if (Model != null)
    {
        listaNotasAncladas = Model.Where(x => x.Anclada).ToList();
        listaNotasNoAncladas = Model.Where(x => !x.Anclada).ToList();
    }
}

@*TODO - refactorizar*@

<div id="tablonNotasAncladas" class="card-deck">
    @foreach (var nota in listaNotasAncladas)
    {
        Html.RenderPartial("_Nota", nota);
    }
</div>
<hr />
<div id="tablonNotas" class="card-columns">
    @foreach (var nota in listaNotasNoAncladas)
    {
        Html.RenderPartial("_Nota", nota);
    }
</div>


