﻿@model List<Business.Dto.NotaDto>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{Html.RenderPartial("_FiltroNotas");}
    </div>
    <div class="container ">
        @{
            Html.RenderPartial("_ListadoNotas"); //Oculto con hidden
            Html.RenderPartial("_TablonNotas", Model);
            Html.RenderPartial("_ModalNota", new Business.Dto.NotaDto());
        }
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript" defer>
        $(function () {
            Notas.Nota.InicializarEventos();
        });
    </script>
}
