﻿
<div class="modal fade" id="modalAcercaDe" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Etiquetas.AcerdaDe</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="false">×</span><span class="sr-only">@Etiquetas.Cerrar</span></button>
            </div>
            <div class="modal-body">
                <p class="modal-header">Notas 1.0 © 2019</p>
                <p class="modal-sm">By Juan Luis Vilata García</p>
                <a href="mailto:jlvilata@gmail.com">jlvilata@gmail.com</a>
            </div>
        </div>
    </div>
</div>