﻿@{
    Layout = null;
    var cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="@cultureName">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Menú -->
        @{Html.RenderPartial("_MenuLateral");
            Html.RenderPartial("_AcercaDe");}
        <!-- Contenido -->
        <div id="page-content-wrapper">
            @*@{Html.RenderPartial("_MenuSuperior"); }*@
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Footer -->
    <hr />
    <footer>
        <p>&nbsp;&copy; @DateTime.Now.Year - @Etiquetas.Notas - By Juan Luis Vilata García</p>
    </footer>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/main_JS")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins_JS")
    @Scripts.Render("~/bundles/app_JS")

    @RenderSection("scripts", required: false)

</body>
</html>

<script type="text/javascript" defer>
    $(function () {
        Notas.Menu.InicializarEventos();
    });
</script>