﻿@{ 
    string jsOnClickNuevaNota = "Notas.Menu.InicializaModalNota();";
    string jsOnclickPapelera = "Notas.Papelera.ObtenerListadoPapeleraAsync();";
}

<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="#" data-toggle="modal" data-target="#modalNota" class="list-group-item list-group-item-action bg-light" onclick="@jsOnClickNuevaNota">@String.Format(Etiquetas.NuevaX, Etiquetas.Nota)</a>
        @*<a href="#" class="list-group-item list-group-item-action bg-light" onclick="@jsOnclickPapelera">@Etiquetas.PapeleraReciclaje</a>*@
        <a href="#" data-toggle="modal" data-target="#modalAcercaDe" class="list-group-item list-group-item-action bg-light">@Etiquetas.AcerdaDe</a>
    </div>
</div>
